---
layout: page
title: Itinerary
icon: book
permalink: /itinerary
events:
    Friday, May 24th:
      "2:00 PM": "Early check-in for family and bridal party"
      "3:00 PM": "Wedding rehearsal"
      "4:00 PM": "Guarenteed check-in for all guests staying at resort"
      "5-7:00 PM": "Welcome BBQ for all guests in the *Garden*"
      "6-9:00 PM": "Sunset cruise on Lake Joseph. Board at the *Main Dock*"
      "7-11:00 PM": "Welcome bonfire with marshmallows"
    Saturday, May 25th:
      "8-10:00 AM": "Full breakfast buffet in the *Main Inn* (Vintages Dining Room)"
      "10-2:30 PM": "Guests at their leisure (complimentary activities)"
      "11-1:30 PM": "Restaurant open for lunch in the *Main Inn*"
      "3:00 PM": "Wedding ceremony on *The Point*"
      "4-5:30 PM": "Cocktail reception with hors d'oeuvres on the *Main Inn* deck"
      "5:30 PM": "Dinner in the *Main Inn*"
      "8:30-1 AM": "Dancing in the *Main Inn* lounge"
      "10:00 PM": "Cake and Coffee in the *Main Inn*"
      "11:00 PM": "Late-night snack in the *Main Inn* (Vintages Dining Room)"
    Sunday, May 26th:
      "8-11:00 AM": "Full breakfast buffet in the *Main Inn* (Veranda Room)"
      "11:00 AM": "Check-out time for guests staying at the resort"

---

<div id="itinerary">
  <div id="itinerary-wrapper">
    <div id="event-list">
      {% for day in page.events %}
        <h2>{{ day[0] }}</h2>
        <table>
          {% for time in day[1] %}
            <tr>
              <td class="event-time">{{ time[0] }}</td>
              <td class="event-description">{{ time[1] | markdownify }}</td>
            </tr>
          {% endfor %}
        </table>
      {% endfor %}
    </div>
    <a id="resort-map" href="/img/sherwood-inn-map.png">
      <img src="/img/sherwood-inn-map.png">
    </a>
  </div>
</div>
