<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<base href="/">
	<!-- Styles -->
	<link rel="stylesheet" href="/css/main.css">
    <!-- Favicon -->
    <!-- Javascript -->
    <!-- SEO -->
    <title>{{ page.title }} &middot; {{ site.title }}</title>
	<meta name="author" content="Brad Keys">
	<meta name="copyright" content="&copy; {{ site.time | date: '%Y' }} Brad Keys">
	<meta name="description" content="" />
	<meta name="keywords" content="">
</head>
