
$linkColor: #98ae6c;

@mixin fillPage() {
  width: 100%;
  /* Lazy hack to ensure the borders extend the entire page on smaller pages */
  min-height: 82vh;
  /* End lazy hack */
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

@mixin centerContents() {
  display: flex;
  justify-content: space-around;
  align-items: center;
}