<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <img id="branch-bg-img" src="/img/branch.png">
    <div id="site-wrapper">
      <!-- Mobile Navigation-->
      <nav class="mobile navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
        <ul class="nav navmenu-nav">
          {% for node in site.pages %}
            {% if node.title %}
            <li class="{% if page.url == node.url %}active{% endif %}">
              <a href="{{node.url}}" ><i class="fas fa-{{node.icon}}"></i> {{node.title}}</a>
            </li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
      <header>
        <button id="nav-toggle" type="button" class="navbar navbar-default navbar-fixed-top navbar-toggle" data-toggle="offcanvas" data-target="nav.mobile" data-canvas="body">
          <i class="fas fa-bars"></i>
        </button>
        <div id="header-details">
          <div id="bride-groom-names">
            <div class="name-block">
              <span class="first-name">Courtney</span>
              <span class="last-name">Anne Elliott</span>
            </div>
            <div class="name-block">
              <span class="first-name">Bradley</span>
              <span class="last-name">Michael Keys</span>
            </div>
          </div>
          <!-- Desktop Navigation-->
          <nav class="desktop">
            <ul class="nav">
              {% for node in site.pages %}
                {% if node.title %}
                <li class="nav-item">
                  <a href="{{node.url}}" class="nav-link{% if page.url == node.url %} active{% endif %}">{{node.title}}</a>
                </li>
                {% endif %}
              {% endfor %}
            </ul>
          </nav>
        </div>
      </header>
      <main>
        {{ content }}
      </main>
    </div>
  </body>
</html>
